<p>This page should contain the primary interface of the app. It should have:<p>

<p>
  <ul>
    <li>A section/menu to display the user's groups and contacts.</li>
    <li>A section to display the current conversation.</li>
    <li>A form to post a new message.</li>
    <li>A button or other means of logging out.</li>
  </ul>
</p>

<p>Feel free to work on designing any of these and/or to contribute additional ideas. The above is merely a starting point.</p>
<% @messages.each do |message| %>
<strong><%= message.created_at %> - <%= message.sender.username %></strong>: <%= message.text%>
<p>
<%end%>
